<footer style="padding:0;">
  <div class="footer-top" style="background-color:#2b353c;">
    <div class="body_container">
      <div class="col-sm-12">
        <div>
          <div class="section">
            <div class="new"></div>
          </div>
          <div class="iparys_inherited">
            <div class="main-footer iparsys parsys">
              <div class="text parbase section">
                <div>
                  <div class="inner-text-div">
                    <ul>
                      <li>
                        <a href="https://blog.cloudera.com/" target="_blank">Blog</a>
                      </li>
                      <li>
                        <a href="/resources.html">Resources</a>
                      </li>
                      <li>
                        <a href="/partners.html">Partners</a>
                      </li>
                      <li>
                        <a href="/about/services-and-support.html">Services &amp; Support</a>
                      </li>
                      <li>
                        <a href="/about/training.html">Training</a>
                      </li>
                      <li>
                        <a href="http://community.cloudera.com">Community</a>
                      </li>
                      <li>
                        <a href="/documentation.html">Documentation</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-data-line">
    <div class="footer-middle">
      <div class="body_container">
        <div class="col-sm-9 mk-desktop-foot">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="middle-footer iparsys parsys">
                <div class="column_control parbase section">
                  <div>
                    <div class="body_container">
                      <div class="row">
                        <div class="col_control">
                          <div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/products.html">Products</a>
                                      </h4>
                                      <ul>
                                        <li>
                                          <a href="/products/cdf.html">DataFlow</a>
                                        </li>
                                        <li>
                                          <a href="/products/data-warehouse.html">Data Warehouse</a>
                                        </li>
                                        <li>
                                          <a href="/products/data-science-workbench.html">Data Science Workbench</a>
                                        </li>
                                        <li>
                                          <a href="/products/enterprise-data-hub.html">Enterprise Data Hub</a>
                                        </li>
                                        <li>
                                          <a href="/products/sdx.html">SDX Technologies</a>
                                        </li>
                                        <li>
                                          <a href="/products/workload-xm.html">Workload XM</a>
                                        </li>
                                        <li>
                                          <a href="/products/operational-db.html">Operational DB</a>
                                        </li>
                                        <li>
                                          <a href="/products/data-science-and-engineering.html">Data Engineering</a>
                                        </li>
                                        <li>
                                          <a href="/products/altus.html">Altus Cloud</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/solutions.html">Solutions</a>
                                      </h4>
                                      <ul>
                                        <li>
                                          <a href="/solutions/customer-insights.html">Grow Business</a>
                                        </li>
                                        <li>
                                          <a href="/solutions/improve-products-and-services.html">Connect Business (IoT)</a>
                                        </li>
                                        <li>
                                          <a href="/solutions/lower-business-risks.html">Protect Business</a>
                                        </li>
                                        <li>
                                          <a href="/solutions/industry-solutions.html">Industry Solutions</a>
                                        </li>
                                        <li>
                                          <a href="/solutions/gallery.html">Solutions Gallery</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/downloads.html">Downloads</a>
                                      </h4>
                                      <ul>
                                        <li>
                                          <a href="/downloads/quickstart_vms.html">QuickStart VMs</a>
                                        </li>
                                        <li>
                                          <a href="/downloads/manager.html">Cloudera Manager</a>
                                        </li>
                                        <li>
                                          <a href="/downloads/director.html">Cloudera Altus Director</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <b style="color: rgb(154,154,154);">
                                          <a href="/about.html">About</a>
                                        </b>
                                      </h4>
                                      <ul>
                                        <li>
                                          <a href="https://vision.cloudera.com/" target="_blank">Blog</a>
                                        </li>
                                        <li>
                                          <a href="/careers.html">Careers</a>
                                        </li>
                                        <li>
                                          <a href="/about/customers.html">Customers</a>
                                        </li>
                                        <li>
                                          <a href="/about/events.html">Events</a>
                                        </li>
                                        <li>
                                          <a href="/about/investor-relations.html">Investor Relations</a>
                                        </li>
                                        <li>
                                          <a href="/about/leadership.html">Leadership</a>
                                        </li>
                                        <li>
                                          <a href="/about/locations.html">Locations</a>
                                        </li>
                                        <li>
                                          <a href="/about/news-and-blogs.html">Newsroom</a>
                                        </li>
                                        <li>
                                          <a href="/about/services-and-support.html">Services &amp; Support</a>
                                        </li>
                                        <li>
                                          <a href="/about/training.html">Training</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mk-social-foot">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="middle-right-footer iparsys parsys">
                <div class="text parbase section">
                  <div>
                    <div class="inner-text-div">
                      <p style="text-align: right;font-size: 30.0px;">
                        <a href="https://www.facebook.com/cloudera/">
                          <span class="icon-facebook1"></span>
                        </a>
                        <a href="https://twitter.com/cloudera">
                          <span class="icon-twitter1"></span>
                        </a>
                        <a href="https://www.linkedin.com/company/cloudera">
                          <span class="icon-linkedin2"></span>
                        </a>
                      </p>
                      <h3 style="text-align: right;">
                        <a href="/contact-sales.html">Contact Us</a>
                      </h3>
                      <p style="text-align: right;">
                        <a href="tel:18887891488">US: +1 888 789 1488</a>
                        <br>
                        <a href="tel:16503620488">Outside the US: +1 650 362 0488</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="language-picker section">
                  <div id="mk-language-picker">
                    <span class="icon-earth">
                      <select id="mk-country-options" name="country-options">
                        <option value="/">English</option>
                        <option value="http://es.cloudera.com">Spanish</option>
                        <option value="http://fr.cloudera.com">French</option>
                        <option value="http://de.cloudera.com">German</option>
                        <option value="http://it.cloudera.com">Italian</option>
                        <option value="http://kr.cloudera.com">Korean</option>
                        <option value="http://cn.cloudera.com">Chinese</option>
                        <option value="http://jp.cloudera.com/">Japanese</option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="body_container">
        <div class="col-sm-12">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="bottom-footer iparsys parsys">
                <div class="text parbase section">
                  <div>
                    <div class="inner-text-div  ">
                      <p>
                        <span class="byline">© 2020 Cloudera, Inc. All rights reserved. <a href="/legal/terms-and-conditions.html">Terms &amp; Conditions</a> | <a href="/legal/policies.html">Privacy Policy and Data Policy</a><br>
<a href="http://hadoop.apache.org/">Apache Hadoop</a> and associated open source project names are trademarks of the <a href="http://apache.org/">Apache Software Foundation</a>. For a complete list of trademarks, <a href="/legal/terms-and-conditions.html#trademarks">click here</a>.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="section">
      <div class="new"></div>
    </div>
    <div class="iparys_inherited">
      <div class="promoIpar iparsys parsys">
        <div class="leftPromo parbase section">
          <div class="target-promo">
            <div data-button="Learn More" data-color="brilliant" data-dataline="true" data-linkpath="/content/dam/www/marketing/resources/webinars/introducing-cdsw-for-hdp.png.landing.html?src=webP05&amp;utm_source=website&amp;utm_medium=webP05" data-target="CDSW-HDP" data-title="Data Science Workbench now available on HDP"></div>
            <div data-button="Learn More" data-color="yellow" data-dataline="true" data-linkpath="/content/dam/www/marketing/resources/webinars/introducing-cloudera-dataflow.png.landing.html?src=webP05&amp;utm_source=website&amp;utm_medium=webP05" data-target="CDF-CDH" data-title="Dataflow now available on CDH"></div>
            <div data-button="See courses" data-color="orange" data-dataline="true" data-linkpath="/content/www/en-us/about/training/course-listing.html?utm_medium=website&amp;utm_source=p05&amp;utm_campaign=other&amp;src=p05&amp;cid=7012H000001l2Q0&amp;utm_content=Training%20credits_AMER_Website_2019-06-12" data-target="TrainingCredits" data-title="Use your training credits today"></div>
          </div>
          <div class="blank-promo"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
