<header>
  <div class="section">
    <div class="new">
    </div>
  </div>
  <div class="iparys_inherited">
    <div class="ipar iparsys parsys">
      <div class="globalHeader section">
        <nav class="mk-navigation">
          <div class="container main-menu">
            <div id="cloudera-navigation" data-nav-one="2" data-nav-two="2">

<!--Moblie Hamburger-->
<div class="mk-mobile-menu">
  <li class=""><a class="mk-mobile-menu-toggle" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
</div>

<!-- Brand -->
<div class="cloudera-brand">
  <a href="/"><img src="/content/dam/www/marketing/images/logos/cloudera/cloudera-newco-logo.png" alt="Cloudera"></a>
</div>


<!-- Main Desktop Navagation  -->
{% include blue-cl-main-nav.html %}

            </div>
          </div>
        </nav>

<!--User Menu Mobile-->
<div class="mk-overlay">
  <div class="container mk-contact-overlay">
    <i class="icon-close mk-contact mk-icon-marketing"></i>
    <div class="phone-numbers">
      <div class="mk-us-phone">
        <span style="padding-right:10px;">Call us at</span><span><a href="tel:18887891488">(888) 789-1488</a></span>
      </div>
      <div class="mk-inter-phone">
        <span style="padding-right:10px;">International:</span><span><a href="tel:16503620488">+1 (650) 362-0488</a></span>
      </div>
    </div>
    <div class="mk-contact-bottom" style="background-image:url('/content/dam/www/marketing/brand/data-line/cn01-data-line-pattern-light-grey-bg.png');">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
        <div class="icon parbase section"><!-- Button Component Sightly -->
          <div class="mk-icon txt-center">
            <a href="/contact-sales.html"><i style="color:#828282; cursor:pointer;" class="icon-email mk-icon-marketing"></i>
            <span class="mk-icon-link">Email Sales</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon parbase section"><!-- Button Component Sightly -->
          <div class="mk-icon txt-center">
            <a href="/support.html"><i style="color:#828282; cursor:pointer;" class="icon-management mk-icon-marketing"></i>
            <span class="mk-icon-link">Support Portal</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>

<script>
let sessionStorage = { s_dmdbase_custom1: () => {} };
sessionStorage.s_dmdbase = "a:b:c";
sessionStorage.s_dmdbase_custom1 = "";
sessionStorage.s_dmdbase_custom4 = "";
</script>

<!--Mobile Navaigation-->
{% include blue-cloudera-mobile-nav.html %}

      </div>
    </div>
  </div>
</header>
