<div class="communityPromo parbase section">
  <section class="section_padding blue">
    <div class="title section">
      <h2 class="top txt-center">Want to Get Involved or Learn More?</h2>
    </div>
    <div class="text section">
      <h4 class="txt-center subtxt">Check out our other resources</h4>
    </div>
    <div class="body_container">
      <div class="row col_control">
        <div class="col-sm-6 col">
          <div class="col_two">
            <div class="dlLandingExtensionsChip section">
              <!-- /*DocList Component Sightly*/ -->
              <div class="blue">
                <div class="dlChipH">
                  <img class="image-centered" src="/content/dam/www/Downloads/icons/Img-Community.png">
                  <h3>Cloudera Community</h3>
                  <p>Collaborate with your peers, industry experts, and Clouderans to make the most of your investment in Hadoop.</p>
                  <ul>
                    <li>
                      <a href="https://community.cloudera.com/">Check it out now</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col">
          <div class="col_three">
            <div class="dlLandingExtensionsChip section">
              <!-- /*DocList Component Sightly*/ -->
              <div class="blue">
                <div class="dlChipH">
                  <img class="image-centered" src="/content/dam/www/Downloads/icons/Img-Training.png">
                  <h3> Cloudera University</h3>
                  <p>Receive expert Hadoop training through Cloudera University, the industry's only truly dynamic Hadoop training curriculum that’s updated regularly to reflect the state of the art in big data.</p>
                  <ul>
                    <li>
                      <a href="https://university.cloudera.com/">Check it out now</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
