<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include google-analytics.html %}
{%- if page.description %}
<meta name="description" content="{{page.description}}">
{%- endif %}
{%- if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' }}">
{%- endif %}
<meta name="searchexclude" content="false">
<link rel="shortcut icon" type="image/x-icon" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-16x16.png" sizes="16x16">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Add Typekit Font -->
<link rel="stylesheet" href="https://use.typekit.net/qkd3ogh.css">

<!-- Add WWW ClientLibs CSS -->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/clientlibs/granite/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs.css">
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs-support.css">
<link rel="stylesheet" type="text/css" href="/libs/foundation/clientlibs/jquery-ui/themes/default.css">
<link rel="stylesheet" type="text/css" href="/etc/clientlibs/foundation/jquery-ui/themes/default.css">

<!-- Shadowbox -->
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs-vendor/js/shadowbox/shadowbox.css">

<style>
footer .footer-middle a:hover {
  color: #97D2E6;
}
</style>

<title>{{page.title}}</title>
</head>
