<footer style="padding:0;">
  <div class="footer-top" style="background-color:#2b353c;">
    <div class="body_container">
      <div class="col-sm-12">
        <div>
          <div class="section">
            <div class="new"></div>
          </div>
          <div class="iparys_inherited">
            <div class="main-footer iparsys parsys">
              <div class="text parbase section">
                <div>
                  <div class="inner-text-div">
                    <ul>
                      <li><a href="https://blog.cloudera.com/" target="_blank">Blog</a></li>
                      <li><a href="/resources.html">Resources</a></li>
                      <li><a href="/partners.html">Partners</a></li>
                      <li><a href="/about/services-and-support.html">Services &amp; Support</a></li>
                      <li><a href="/about/training.html">Training</a></li>
                      <li><a href="https://community.cloudera.com/">Community</a></li>
                      <li><a href="/">Documentation</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-data-line">
    <div class="footer-middle">
      <div class="body_container">
        <div class="col-sm-9 mk-desktop-foot">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="middle-footer iparsys parsys">
                <div class="column_control parbase section">
                  <div>
                    <div class="body_container">
                      <div class="row">
                        <div class="col_control">
                          <div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/products.html">Products</a>
                                      </h4>
                                      <ul>
                                        <li><a href="/products/cdf.html">DataFlow</a></li>
                                        <li><a href="/products/data-warehouse.html">Data Warehouse</a></li>
                                        <li><a href="/products/data-science-workbench.html">Data Science Workbench</a></li>
                                        <li><a href="/products/enterprise-data-hub.html">Enterprise Data Hub</a></li>
                                        <li><a href="/products/sdx.html">SDX Technologies</a></li>
                                        <li><a href="/products/workload-xm.html">Workload XM</a></li>
                                        <li><a href="/products/operational-db.html">Operational DB</a></li>
                                        <li><a href="/products/data-science-and-engineering.html">Data Engineering</a></li>
                                        <li><a href="/products/altus.html">Altus Cloud</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/solutions.html">Solutions</a>
                                      </h4>
                                      <ul>
                                        <li><a href="/solutions/customer-insights.html">Grow Business</a></li>
                                        <li><a href="/solutions/improve-products-and-services.html">Connect Business (IoT)</a></li>
                                        <li><a href="/solutions/lower-business-risks.html">Protect Business</a></li>
                                        <li><a href="/solutions/industry-solutions.html">Industry Solutions</a></li>
                                        <li><a href="/solutions/gallery.html">Solutions Gallery</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <a href="/downloads.html">Downloads</a>
                                      </h4>
                                      <ul>
                                        <li><a href="/downloads/manager.html">Cloudera Manager</a></li>
                                        <li><a href="/downloads/director.html">Cloudera Altus Director</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col">
                              <div>
                                <div class="text parbase section">
                                  <div>
                                    <div class="inner-text-div">
                                      <h4>
                                        <b style="color: rgb(154,154,154);">
                                          <a href="/about.html">About</a>
                                        </b>
                                      </h4>
                                      <ul>
                                        <li><a href="https://vision.cloudera.com/" target="_blank">Blog</a></li>
                                        <li><a href="/careers.html">Careers</a></li>
                                        <li><a href="/about/customers.html">Customers</a></li>
                                        <li><a href="/about/events.html">Events</a></li>
                                        <li><a href="/about/investor-relations.html">Investor Relations</a></li>
                                        <li><a href="/about/leadership.html">Leadership</a></li>
                                        <li><a href="/about/locations.html">Locations</a></li>
                                        <li><a href="/about/news-and-blogs.html">Newsroom</a></li>
                                        <li><a href="/about/services-and-support.html">Services &amp; Support</a></li>
                                        <li><a href="/about/training.html">Training</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mk-social-foot">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="middle-right-footer iparsys parsys">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="body_container">
        <div class="col-sm-12">
          <div>
            <div class="section">
              <div class="new"></div>
            </div>
            <div class="iparys_inherited">
              <div class="bottom-footer iparsys parsys">
                <div class="text parbase section">
                  <div>
                    <div class="inner-text-div  ">
                      <p>
                        <span class="byline">© 2020 Cloudera, Inc. All rights reserved. <a href="/legal/terms-and-conditions.html">Terms &amp; Conditions</a> | <a href="/legal/policies.html">Privacy Policy and Data Policy</a><br>
<a href="http://hadoop.apache.org/">Apache Hadoop</a> and associated open source project names are trademarks of the <a href="http://apache.org/">Apache Software Foundation</a>. For a complete list of trademarks, <a href="/legal/terms-and-conditions.html#trademarks">click here</a>.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="section">
      <div class="new">
      </div>
    </div>
  </div>
</footer>
