<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- <script src="/etc.clientlibs/clientlibs/granite/jquery.js"></script> -->
<script src="/etc.clientlibs/clientlibs/granite/utils.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/jquery/granite.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>
<!-- <script src="/etc.clientlibs/clientlibs/granite/jquery-ui.js"></script> -->
<script src="/etc.clientlibs/foundation/clientlibs/jquery-ui.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs-vendor.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs-support.js"></script>

<div class="section">
  <div class="new">
  </div>
</div>
<div class="iparys_inherited">
  <div class="loginAwareIpar iparsys parsys">
    <div class="loginStateAwareContainer section">
    </div>
  </div>
</div>
