<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{%- if page.description %}
<meta name="description" content="{{page.description}}">
{%- endif %}
{%- if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' }}">
{%- endif %}
<meta name="searchexclude" content="false">
<link rel="shortcut icon" type="image/x-icon" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-16x16.png" sizes="16x16">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
window.set_mbox_variables=function(e){if(e)try{var n="",t=["company_name","industry","sub_industry","audience","watch_list_active_oppty","watch_list_account_type","watch_list_entitled_component","watch_list_cust_prosp_comp","watch_list_cdf_cdh","watch_list_cdsw_hdp","watch_list_fy20_target","watch_list_workloadxm","watch_list_trainingcredits"];for(var o in e)if("object"==typeof e[o]&&null!==e[o]){for(var a in e[o])e[o+"_"+a]=e[o][a];delete e[o]}for(var r in e)if(e.hasOwnProperty(r))if(-1!=t.indexOf(r)&&e[r]){var c="profile."+r+"="+encodeURIComponent(e[r])+",";n+=c}else t.indexOf(r);for(i=0;i<=t.length-1;i++){-1==n.indexOf(t[i])&&(n+="profile."+t[i]+"=none,")}n=n.split(","),window.targetPageParams=function(){return n},window.targetPageParams()}catch(e){console.log(e)}};
</script>
<script src="//api.demandbase.com/api/v2/ip.json?key=643d57360c3745d79d30a63cfbe970e8&amp;callback=set_mbox_variables"></script>

<!--Injects custom datalayer.js for use with Adobe Analytics, DTM-->
<!-- The datalayer needs to be loaded before the dtm load on the next line -->
<div id="dataLayerId" data-currentpage="/content/www/en-us/resources/resources-library/dynamic-form"></div>
<script>var jcrPath = document.getElementById("dataLayerId").dataset.currentpage;
if (jcrPath === "/content/www/en-us/resources/resources-library/dynamic-form") {
    jcrPath = window.location.pathname;
}
</script>
<script src="/apps/settings/wcm/designs/www/clientlibs/js/datalayer.js"></script>

<!--Based on config in /etc/cloudservices/dtm, the following line injects the dtm JS -->
<!-- <script src="//assets.adobedtm.com/98a3a1c24ee5de4297f8ae77cf444e0c86ff2f04/satelliteLib-2b934fee5c4cb90dad47c223f80ea9c99e9761b2.js"></script> -->

<!-- Add Typekit Font -->
<link rel="stylesheet" href="https://use.typekit.net/qkd3ogh.css">

<!-- Add WWW ClientLibs CSS -->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/clientlibs/granite/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs.css">
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs-support.css">
<link rel="stylesheet" type="text/css" href="/libs/foundation/clientlibs/jquery-ui/themes/default.css">
<link rel="stylesheet" type="text/css" href="/etc/clientlibs/foundation/jquery-ui/themes/default.css">

<!-- Shadowbox -->
<link rel="stylesheet" type="text/css" href="/apps/settings/wcm/designs/www/clientlibs-vendor/js/shadowbox/shadowbox.css">

<!--[if lt IE 9]>
<sly data-sly-call="">
<![endif]-->

<style type="text/css">
 footer.c13 {padding:0;}
 p.c12 {text-align: right;}
 h3.c11 {text-align: right;}
 p.c10 {text-align: right;font-size: 30.0px;}
 div.c9 {background-image:url('');}
 h4.c8 {color: rgb(154,154,154); font-weight: bold}
 div.c7 {background-color:#2b353c;}
 button.c6 {font-style: italic}
 input.c5 {display:none;}
 div.c4 {background-image:url('/content/dam/www/marketing/brand/data-line/cn01-data-line-pattern-light-grey-bg.png');}
 i.c3 {color:#828282; cursor:pointer;}
 span.c2 {padding-right:10px;}
 iframe.c1 {display:none;visibility:hidden}
</style>

<title>{{page.title}}</title>
</head>
