<script src="/etc.clientlibs/clientlibs/granite/jquery.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/utils.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/jquery/granite.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/jquery.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/jquery-ui.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/jquery-ui.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs-vendor.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs.js"></script>
<script src="/apps/settings/wcm/designs/www/clientlibs-support.js"></script>

<div class="section">
  <div class="new">
  </div>
</div>
<div class="iparys_inherited">
  <div class="loginAwareIpar iparsys parsys">
    <div class="loginStateAwareContainer section">

<script>
$(window).load(function() {
  if (userInfoHandler){
    if (userInfoHandler.status == "OK"){
      if (userInfoHandler.loggedIn == true) {
        let relayState="";
        $("a[href*='community.cloudera.com']").each(function() {
          relayState = encodeURIComponent(this.href);
          let redirect = 'https://cloudera-production.okta.com/app/template_saml_2_0/exk1az52keQqZWEnE0x7/sso/saml';
          let separator = redirect.indexOf('?') !== -1 ? "&" : "?";
          this.href= redirect + separator + 'RelayState=' + relayState;
        });
      }
    }
  }
});
</script>

    </div>
  </div>
</div>

<script>_satellite.pageBottom();</script>
