<div class="breadcrumb_bg"></div>
<div id="navbar">
    <section class="ps topstrip">
        <div></div>
    </section>
</div>
<div class="mainbody">
    <section class="ps titlebar">
        <div>
            <div class="breadcrumb"><a href="/">Hortonworks Docs</a> &raquo; <a href="/HDPDocuments/Ambari/Ambari-2.2.1.1/index.html">Ambari</a> <span class="current_book"> &raquo; Administering Ambari</span></div>
            <div class="book_title">Administering Ambari</div>
            <div class="ebooks">
                <div class="formats">
                    <span class="desc">Also available as : </span>
                    <div class="format"><a href=""><img src="/common/img/pdf.png"></a></div>
                    <div class="format"><a href=""><img src="/common/img/epub.png"></a></div>
                </div>
            </div>
        </div>
    </section>
    <div class="lowerbody">
        <section class="ps doc-content">
            <div>
                <!--- LH CONTENTS & SEARCH TOOLS -->
                <div class="aside left">
                    <div class="search">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="text" class="" placeholder="Search inside this book" id="searchfield">
                    </div>
                    <div class="formats">
                        <div class="pdf"></div>
                        <div class="epub"></div>
                    </div>
                    <nav class="toc">
                        <ol class="chapters">
                            <li>
                                <div class="dropdown"><i class="fa fa-chevron-down"></i></div>
                                <span class="chapno">1</span><a href="_ambari_admin_overview.html" class="">Administering Ambari: Overview</a>
                                <ul class="sections">
                                    <li><span class="chapno">1.1</span><a href="_terms_and_definitions.html">Terms and Definitions</a></li>
                                    <li><span class="chapno">1.2</span><a href="_logging_in_to_ambari.html">Logging in to Ambari</a></li>
                                    <li><span class="chapno">1.3</span><a href="_about_the_ambari_administration_interface.html">About the Ambari Administration Interface</a></li>
                                </ul>
                            </li>
                            <li class="current">
                                <span class="chapno">2</span><a href="ch_ambari_admin_tasks.html" class="">Ambari Admin Tasks</a>
                                <ul class="sections">
                                    <li><span class="chapno">2.1</span><a href="_changing_the_administrator_account_password.html" class="">Changing the Administrator Account Password</a></li>
                                    <li><span class="chapno">2.2</span><a href="_creating_a_cluster.html" class="">Creating a Cluster</a></li>
                                    <li><span class="chapno">2.3</span><a href="_setting_cluster_permissions.html" class="">Setting Cluster Permissions</a></li>
                                    <li><span class="chapno">2.4</span><a href="_viewing_the_cluster_dashboard.html" class="">Viewing the Cluster Dashboard</a></li>
                                    <li><span class="chapno">2.5</span><a href="_renaming_a_cluster_.html" class="">Renaming a Cluster </a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="dropdown"><i class="fa fa-chevron-down"></i></div>
                                <span class="chapno">3</span>
                                <a href="_managing_users_and_groups.html" class="">Managing Users and Groups</a>
                                <ul class="sections">
                                    <li>
                                        <span class="chapno">3.1</span><a href="_users_and_groups_overview.html" class="">Users and Groups Overview</a>
                                        <ul class="subsections">
                                            <li><a href="_local_and_ldap_user_and_group_types.html">Local and LDAP User and
                                                Group Types</a></li>
                                            <li><a href="_ambari_admin_privileges.html" class="">Ambari Admin Privileges</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="chapno">3.2</span><a href="_creating_a_local_user.html" class="">Creating a Local User</a></li>
                                    <li><span class="chapno">3.3</span><a href="_setting_user_status.html">Setting User Status</a></li>
                                    <li><span class="chapno">3.4</span><a href="_setting_the_ambari_admin_flag.html">Setting the Ambari Admin Flag</a></li>
                                    <li><span class="chapno">3.5</span><a href="_changing_the_password_for_a_local_user.html">Changing the Password for a Local User</a></li>
                                    <li><span class="chapno">3.6</span><a href="_deleting_a_local_user.html">Deleting a Local User</a></li>
                                    <li><span class="chapno">3.7</span><a href="_creating_a_local_group.html">Creating a Local Group</a></li>
                                    <li><span class="chapno">3.8</span>
                                        <a href="_managing_group_membership.html">Managing Group Membership</a>
                                        <ul class="subsections">
                                            <li><a href="_adding_a_user_to_a_group.html">Adding a User to a Group</a></li>
                                            <li><a href="_modifying_group_membership.html">Modifying Group Membership</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="chapno">3.9</span><a href="_deleting_a_local_group.html">Deleting a Local Group</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="dropdown"><i class="fa fa-chevron-down"></i></div>
                                <span class="chapno">4</span>
                                <a href="ch_managing_views.html">Managing Views</a>
                                <ul class="sections">
                                    <li><span class="chapno">4.1</span><a href="_terminology.html">Terminology</a></li>
                                    <li><span class="chapno">4.2</span><a href="_basic_concepts.html">Basic Concepts</a>
                                        <ul class="subsections">
                                            <li><a href="_ambari_views_versions_and_instances.html">Ambari Views Versions and Instances </a></li>
                                            <li><a href="_deploying_a_view.html">Deploying a View</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="chapno">4.3</span><a href="_creating_view_instances.html">Creating View Instances</a></li>
                                    <li><span class="chapno">4.4</span><a href="_setting_view_permissions.html">Setting View Permissions</a></li>
                                    <li><span class="chapno">4.5</span><a href="_additional_information.html">Additional Information</a></li>
                                </ul>
                            </li>
                            <li>
                                <div class="dropdown"><i class="fa fa-chevron-down"></i></div>
                                <span class="chapno">5</span>
                                <a href="kitchen_sink.html">The Kitchen Sink</a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Mainbody continues here -->
