<header>
<div class="logo">
  <a href="https://www.cloudera.com/"><img src="/common/img/cloudera.png" alt="Cloudera homepage"></a>
</div>
<ul class="navlinks">
<li><a href="/products.html">Products</a></li>
<li><a href="/solutions.html">Solutions</a></li>
<li><a href="/downloads.html">Downloads</a></li>
<li><a href="https://my.cloudera.com/support.html">Support</a></li>
<li><a href="https://community.cloudera.com/">Community</a></li>
</ul>

<!-- Inject MyCloudera Header ... uncomment this, and uncomment dcxa.init in home.js
<div id="micro_header" class="header-loading">
<style>.header-loading { height: 136px; }</style>
</div>
-->
</header>
