<head>
<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1">
{% include google-analytics.html %}
{%- if page.description %}
<meta name="description" content="{{page.description}}">
{%- endif %}
{%- if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' }}">
{%- endif %}

<!-- Favicons -->
<link rel="shortcut icon" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="57x57" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-16x16.png" sizes="16x16">
<!-- Windows Tiles -->
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Add akzidenz-grotesk-next-extend Typekit Font -->
<link rel="stylesheet" href="https://use.typekit.net/qkd3ogh.css">

<!-- Base Original CSS -->

<!-- CSS we know we need -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/common/css/home.css" type="text/css">

<title>{{ page.title }}</title>
</head>
