<section>
<h2>Link Checking Section</h2>
<p>Use the following URLs to check the links in this library:</p>
<ul>
{%- assign base = include.nav[0].href %}
{%- for pub in include.nav %}
  {%- if pub.href %}
<li><a href="{{ pub.href }}">{{ pub.text }}</a></li>
  {%- elsif pub.sub %}
    {%- for subpub in pub.sub %}
      {%- if subpub.href contains "https://" %}{% continue %}{% endif %}
      {%- if subpub.href contains "/HDPDocuments/" %}{% continue %}{% endif %}
      {%- if subpub.href contains "/documentation/" %}{% continue %}{% endif %}
  <li><a href="{{ subpub.href | prepend: base | remove_first: 'index.html' }}">{{ subpub.text }}</a></li>
    {%- endfor %}
  {%- endif %}
{%- endfor %}
</ul>
</section>
