<div class="lucene-overlay">
    <div class="lucene-container">
        <a href="#" class="close-btn"><span><!-- --></span></a>

        <div class="search-head"><div class="search-title">Search Results</div></div>
        <section class="lucene-results">
            <div class="search">
                <form id="overlay-search" class="searchform">
                    <input type="text" placeholder="Search Docs" value="" class="searchterm"> <i class="fa fa-search submit"></i>
                </form>
            </div>
            <div class="filters">
                <div class="product" data-pdn="DataFlow" data-pgv="7.0.0" data-pgn="Cloudera Runtime" data-filterproduct="DataFlow" data-filterversion="3.4.1.1">
                    <div class="name">DataFlow</div>
                    <div class="versions">
                        <div class="this">3.4.1.1</div>
                        <i class="fa fa-angle-right"><!-- --></i>
                        <div class="selector">
                            <ul class="major">
                                <li class="">
                                    <a href="" class="filterversion" data-version="3.4">3.4</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="3.4.1.1">3.4.1.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.4.0">3.4.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="3.3">3.3</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="3.3.1">3.3.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.3.0">3.3.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="3.2">3.2</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="3.2.0">3.2.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="3.1">3.1</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="3.1.2">3.1.2</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.1.1">3.1.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.1.0">3.1.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="3.0">3.0</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="3.0.3">3.0.3</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.0.2">3.0.2</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.0.1.1">3.0.1.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.0.1">3.0.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="3.0.0">3.0.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="2.1">2.1</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="2.1.4">2.1.4</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="2.1.2">2.1.2</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="2.1.1">2.1.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="2.1.0">2.1.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="2.0">2.0</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="2.0.2">2.0.2</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="2.0.1">2.0.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="2.0.0">2.0.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="1.2">1.2</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="1.2.1">1.2.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="1.2.0.1">1.2.0.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="1.2">1.2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="" class="filterversion" data-version="1.1">1.1</a>
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                            <li>
                                                <a href="" class="filterversion" data-version="1.1.2.1">1.1.2.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="1.1.2">1.1.2</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="1.1.1">1.1.1</a>
                                            </li>
                                            <li>
                                                <a href="" class="filterversion" data-version="1.1.0">1.1.0</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="filter"><i class="fa fa-plus"></i></div>
                    </div>
                </div>


                {% comment %}
                {% for product in site.data.versions -%}
                <!--
                <div class="product {% if page.version and product.name != page.title %}inactive{% endif %}" data-pdn="{{ product.name }}" data-pgv="{{ page.version }}" data-pgn="{{ page.title }}" data-filterproduct="{{ product.search-name }}" data-filterversion="{% if page.version and product.name == page.title %}{{ page.version }}{% else %}{{ product.latest-version }}{% endif %}">
                    <div class="name">{{ product.name }}</div>
                    <div class="versions">
                        <div class="this">{% if page.version and product.name == page.title %}{{ page.version }}{% else %}{{ product.latest-version }}{% endif %}</div>
                        <i class="fa fa-angle-right"></i>
                        <div class="selector">
                            <ul class="major">
                                {% for version in product.versions -%}
                                <li class="{% if version.title == product.latest-version %}current {% endif %}">
                                    <a href="" class="filterversion" data-version="{{ version.title }}">{{ version.title }}</a>
                                    {% if version.minors -%}
                                    <div class="expand"><i class="fa fa-angle-right"></i>
                                        <ul class="minor">
                                        {% for minor in version.minors -%}
                                            <li>
                                                <a href="" class="filterversion" data-version="{{ minor.title }}">{{ minor.title }}</a>
                                            </li>
                                        {% endfor -%}
                                        </ul>
                                    </div>
                                </li>
                                    {% else -%}
                                </li>
                                    {% endif -%}
                                {% endfor -%}
                            </ul>
                        </div>
                        <div class="filter">{% if page.version and product.name != page.title %}<i class="fa fa-plus"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</div>
                    </div>
                </div>
                {% endfor -%}
                -->
                {% endcomment -%}

            </div>
            <div class="fail"></div>
            <div class="results"></div>
            <div class="waiting"><img src="/common/img/spinner.svg"></div>
            <div class="more-results"><a href="" data-nextCursorMark="" data-searchTerm="" class="more-link"><i class="fa fa-arrow-circle-o-down"></i>More</a></div>
        </section>
    </div>
</div>
