<nav class="product-drawer">
    <div class="full-logo"><img src="/common/img/cloudera.png"></div>
    <ul class="products">
        <li class='cat'>Data Platform (CDP)</li>

        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Management Console</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Data Hub</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Data Warehouse</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Machine Learning</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Data Catalog</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Workload Manager</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Replication Manager</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Cloudera Runtime</span></li>

        <li class='cat'>CDH</li>
        <li class='cat'>Cybersecurity Platform</li>
        <li class='cat'>Hortonworks DataFlow</li>
        <li class='cat'>Hortonworks Data Platform</li>
        <li class='cat'>Cloudera Edge Mangement</li>
        <li class='cat'>Cloudera Flow Management</li>
        <li class='cat'>DataPlane Platform</li>
        <li class='cat'>Legacy Products</li>

        <!--
        <li><img src="/common/img/mini_icons/icon-ambari.png"><span class="text">Ambari</span></li>
        <li><img src="/common/img/mini_icons/icon-hdp.png"><span class="text">Data Platform</span></li>
        <li class="active"><img src="/common/img/mini_icons/icon-hdf.png"><span class="text">Dataflow</span></li>
        <li><img src="/common/img/mini_icons/icon-smartsense.png"><span class="text">Smartsense</span></li>
        <li><img src="/common/img/mini_icons/icon-cybersecurity.png"><span class="text">Cybersecurity</span></li>
        <li class='cat'>Data Services</li>
        <li><img src="/common/img/mini_icons/icon-dataplane.png"><span class="text">DataPlane Core</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Data Analytics Studio</span></li>
        <li><img src="/common/img/mini_icons/icon-datasteward.png"><span class="text">Data Steward Studio</span></li>
        <li class='cat'>Cloud Services</li>
        <li><img src="/common/img/mini_icons/icon-cloudbreak.png"><span class="text">Cloudbreak</span></li>
        <li><img src="/common/img/mini_icons/icon-hdcloud.png"><span class="text">HDCloud for AWS</span></li>
        -->
    </ul>
    <div class="open-close">&raquo;</div>
</nav>