<!-- Begin PASTE HERE -->
<div class="main-navigation">
  <div class="main-nav">
    <div class="wrapper">
      <div class="logo">
        <a href="/">
          <img alt="Logo" src="/common/img/cloudera.gif" />
        </a>
      </div>
      <nav>
        <div class="toggle">
          <span/>
          <span/>
          <span/>
        </div>
        <div class="menu-wrapper argle">
          <ul class="main-menu">
            <li class="products-menu">
              <a href="//hortonworks.com/products/">Products</a>
              <div class="drop-menu">
                <div class="wrapper">
                  <div class="col-five menu-column">
                    <ul>
                      <li class="mobile-link">
                        <a href="https://hortonworks.com/products/data-platforms/">Overview</a>
                      </li>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/products/data-platforms/">Hybrid Data Platforms</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/hdp/">Data Platform (HDP)</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/hdf/">DataFlow (HDF)</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/dataplane/">DataPlane </a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/cybersecurity/">Cybersecurity</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/cloud/">Cloud</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-five menu-column">
                    <ul>
                      <li class="mobile-link">
                        <a href="https://hortonworks.com/products/data-platforms/dataplane/">Overview</a>
                      </li>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/products/dataplane-applications/">DataPlane Applications</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/dataplane/data-lifecycle-manager/">Data Lifecycle Manager</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/dataplane/data-steward-studio/">Data Steward Studio</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/dataplane/data-analytics-studio/">Data Analytics Studio</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/data-platforms/dataplane/streams-messaging-manager/">Streams Messaging Manager</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-five menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/products/partner-solutions/">Partner Solutions</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/products/partner-solutions/data-science/">Data Science</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/products/partner-solutions/ibm-db2-bigsql/">Advanced SQL</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-five menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/products/sandbox/">Sandbox</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/tutorials/">Tutorials</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/downloads/#sandbox">Sandbox Download</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-five menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/downloads/">Software Download</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/downloads/#sandbox" class="nav-download" data-anchor-target="sandbox">Sandbox</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/downloads/#data-platform" class="nav-download" data-anchor-target="data-platform">HDP</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/downloads/#add-ons" class="nav-download" data-anchor-target="add-ons">HDP Add-Ons</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/downloads/#dataflow" class="nav-download" data-anchor-target="dataflow">HDF</a>
                            </li>
                            <li>
                              <a href="https://docs.hortonworks.com" target="_blank">Documentation</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="solutions-menu">
              <a href="//hortonworks.com/solutions/">Solutions</a>
              <div class="drop-menu">
                <div class="wrapper">
                  <div class="col-two menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/solutions/#solutions-industry">By Industry</a>
                        <div class="submenu green-left">
                          <ul class="eual-height col-two">
                            <li>
                              <a href="https://hortonworks.com/solutions/advertising/">Advertising</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/financial-services/">Financial Services</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/healthcare/">Healthcare</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/insurance/">Insurance</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/manufacturing/">Manufacturing</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/energy/">Energy</a>
                            </li>
                          </ul>
                          <ul class="eual-height col-two">
                            <li>
                              <a href="https://hortonworks.com/solutions/oil-gas/">Oil &amp; Gas</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/pharmaceuticals/">Pharmaceuticals</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/public-sector/">Public Sector</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/retail/">Retail</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/telecommunications/">Communications</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-two menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/solutions/#use-cases">By Use Cases</a>
                        <div class="submenu green-left">
                          <ul class="eual-height col-two">
                            <li>
                              <a href="https://hortonworks.com/solutions/data-science-machine-learning/">Data Science / Machine Learning</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/edw-optimization/">Enterprise Data Warehouse</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/predictive-analytics/">Predictive Analytics</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/security/">Security and Governance</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/gdpr-compliance/">GDPR Compliance</a>
                            </li>
                          </ul>
                          <ul class="eual-height col-two">
                            <li>
                              <a href="https://hortonworks.com/solutions/single-view-customer/">Single View</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/iot-streaming/">IoT and Streaming</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/big-data-success/">Ensuring Big Data Success</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/solutions/big-data-journey/">Big Data Journey</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="customers-menu">
              <a href="//hortonworks.com/customers/">Customers</a>
            </li>
            <li class="services-menu">
              <a href="//hortonworks.com/services/">Services &amp; Support</a>
              <div class="drop-menu">
                <div class="wrapper">
                  <div class="col-four menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/services/support/">Support</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/services/support/enterprise/">Enterprise</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/support/flex/">Flex</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/support/premier/">Premier</a>
                            </li>
                            <li>
                              <a href="https://community.hortonworks.com" target="_blank">Community Connection</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/developers/">Developers</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-four menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/services/" class="trigger-top-form">Subscription Services</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/services/support/operational-services/">Operational Services</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/support/smartsense/">SmartSense</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/services/professional/">Professional Services</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-four menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/services/training/">Training</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/services/training/">Overview</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/training/certification/">Certification</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/training/live-training/">Live Training</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/training/self-paced-learning-library/">Self-Paced Learning</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/training/university-academic-program/">Academic Training</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/services/training/hortonworks-university-blended-learning/">Blended Learning</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-four menu-column">
                    <ul>
                      <li class="submenu-head">
                        <a href="https://hortonworks.com/services/" class="trigger-top-form">Get Started</a>
                        <div class="submenu green-left">
                          <ul class="eual-height">
                            <li>
                              <a href="https://hortonworks.com/get-started/big-data-scorecard/">Big Data Maturity Survey</a>
                            </li>
                            <li>
                              <a href="https://hortonworks.com/get-started/smartsense-roi-calculator/survey/">SmartSense ROI Calculator</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="training-menu">
              <a href="https://www.cloudera.com/about.html">About</a>
            </li>
            <li class="mobile-only">
              <a href="//community.hortonworks.com" target="_blank">Community</a>
            </li>
            <li class="mobile-only">
              <a href="//hortonworks.com/blog/">Blogs</a>
            </li>
            <li class="mobile-only">
              <a href="//hortonworks.com/partners/">Partners </a>
            </li>
            <li class="mobile-only">
              <a href="//hortonworks.com/contact-us/">Contact Us</a>
            </li>
            <li class="mobile-only">
              <a href="https://support.hortonworks.com">Support Login</a>
            </li>
            <li style="display:none" class="fix-search">
              <div class="search-in-header">
                <form action="//dev.hortonworks.com/search-results">
                  <input class="st-default-search-input" type="text" />
                </form>
              </div>
            </li>
            <li style="cursor: pointer">         </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- END NAVIGATION FROM THE WWW -->
