---
title: Ambari
version: 2.7.0.0
base-path: /ambari/2.7.0.0/

sections:

  - title: Release Notes
    name: releasenotes
    books:
      - title: Release Notes
        url: bk_ambari-release-notes/index.html
      - title: Support Matrix
        url: https://supportmatrix.hortonworks.com/

  - title: Installation & Upgrade
    name: installation-upgrade
    books:
      - title: Apache Ambari Installation
        url: bk_ambari-installation/index.html
      - title: Apache Ambari Upgrade
        url: bk_ambari-upgrade/index.html
      - title: Apache Ambari Installation for IBM Power Systems
        url: bk_ambari-installation-ppc/index.html
      - title: Apache Ambari Upgrade for IBM Power Systems
        url: bk_ambari-upgrade-ppc/index.html

  - title: How To
    name: how-to
    books:
      - title: Administering Ambari
        url: administering-ambari/index.html
      - title: Managing and Monitoring Your Hadoop Cluster
        url: managing-and-monitoring-ambari/index.html
      - title: Managing High Availability of Services
        url: managing-high-availability/index.html
      - title: Using Ambari Core Services
        url: using-ambari-core-services/index.html
      - title: Administering Ambari Views
        url: administering-ambari-views/index.html
      - title: Configuring Ambari Views
        url: configuring-ambari-views/index.html
      - title: Using Ambari Views
        url: using-ambari-views/index.html
      - title: Workflow Management
        url: bk_workflow-management/index.html
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>{{ page.title }}-{{ page.version }} Link Checking File</title>
</head>
<body>
<h1>{{ page.title }}-{{ page.version }} Link Checking File</h1>

<pre>
{% for section in page.sections -%}
{% for book in section.books -%}
{% if book.url contains '//' -%}
  {% assign full_url = book.url -%}
{% else -%}
  {% assign full_url = page.base-path | append:book.url -%}
{% endif -%}
<a href="{{ full_url }}">{{ book.title }}</a>
{% endfor -%}
{% endfor -%}
</pre>

</body>
</html>
