@charset "UTF-8";

#content table {
  border-color: #fff;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #eee;
  margin: 1rem 0;
}

#content table thead tr, #content table th {
  border-color:  #fff;
  background-color: #5f7c82;
  font-weight: 500;
  color: #fff;
}

#content table tbody tr:nth-child(2n) {
  background-color: #ddd;
}

#content table tbody tr:nth-child(2n+1) {
  background-color: #eee;
}

#content table td, #content table th {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
