<!DOCTYPE html>
<html class="main-page">
{% include blue-head.html %}
<body>
{% include blue-preheader.html %}
{% include blue-header.html %}
<main>

<div class="section parbase">
  <section class="section_padding grey">
    <div class="body_container">
      <div class="text parbase section">
        <div>
          <div class="inner-text-div">
            <p class="homeLink">
{%- if page.breadcrumbs %}
  {%- for crumb in page.breadcrumbs %}
  {% unless page.breadcrumbs[0].text == crumb.text %}&gt;{% endunless %}
              <a href="{{ crumb.href }}">{{ crumb.text }}</a>
  {%- endfor %}
{%- endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="title section">
        <h2>{{page.title}}</h2>
      </div>
    </div>
  </section>
</div>

<div class="column_control parbase section">
  <div class="">
    <div class="body_container">
      <div class="row top bottom">
        <div class="col_control">
          <div class="col-sm-6 col">
            <div class="col_two parsys">
              <div class="title section">
                <h3>Cloudera ODBC Drivers for Hive</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera ODBC Drivers for Hive" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="title section">
                <h3 class="top">Cloudera ODBC Drivers for Impala</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera ODBC Drivers for Impala" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="title section">
                <h3 class="top">Cloudera Connector Powered by Teradata</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera Connector Powered by Teradata" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col">
            <div class="col_three parsys">
              <div class="title section">
                <h3>Cloudera JDBC Drivers for Hive</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera JDBC Drivers for Hive" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="title section">
                <h3 class="top">Cloudera JDBC Drivers for Impala</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera JDBC Drivers for Impala" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="title section">
                <h3 class="top">Cloudera Connector for Netezza</h3>
              </div>
              <div class="listChildrenDropDown section">
                <div>
                  <div class="lstchildren">
                    <div class="dropdown">
                      <button data-toggle="dropdown" id="" class="www-btn dropdown-toggle left" aria-expanded="false">
                        <span class="ddSelect">Select a Version</span>
                        <span class="caret"/>
                      </button>
                      <ul aria-labelledby="dropdown" role="menu" class="dropdown-menu">
{%- for dropdown in page.dropdowns %}
    {%- unless dropdown.section.title == "Cloudera Connector for Netezza" %}
        {%- continue %}
    {%- endunless %}
    {%- for landing in dropdown.section.dropdown %}
                        <li class="VersionSelect">
                          <a href="{{ landing.href }}">{{ landing.text }}</a>
                        </li>
    {%- endfor %}
{%- endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>
{% include blue-footer.html %}
{% include blue-postfooter.html %}
</body>
</html>
