<!DOCTYPE html>
<html class="error-page" {% if page.lang %}lang="{{ page.lang }}"{% else %}lang="en-US"{% endif %}>
{% include home_head.html -%}
<body>
{% include home_header.html -%}
<main>
<article>
{{ content }}
</article>
</main>
{% include home_footer.html -%}
{% include lucene_overlay_cloudera.html -%}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!--  Tooltips and so on... I don't think we're using this? -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/common/js/home.js"></script>
</body>
</html>
