---
layout: newux
---

<h1>{{ page.title }}</h1>
<div class="foyer">
<div class="foyer-content">
{{ content }}
</div>
<div class="foyer-pub-list">
{% for column in page.publications -%}
<div class="column">
    {%- for item in column.column -%}
        {%- if item.sub -%}
<div class="pub-group">
<h2 class="pub-group-title">{{ item.title }}</h2>
            {%- for sub in item.sub -%}
<div class="pub">
<h3 class="pub-title"><a href="{{ publication.url }}"{% if sub.external %} class="external"{% endif %}>{{ sub.title }}</a></h3>
<p class="pub-desc">{{ sub.description }}</p>
</div>
            {%- endfor -%}
</div> <!-- pub-group -->
        {%- else -%}
<div class="pub">
<h3 class="pub-title"><a href="{{ item.url }}"{% if item.external %} class="external"{% endif %}>{{ item.title }}</a></h3>
<p class="pub-desc">{{ item.description }}</p>
</div>
        {%- endif -%}
    {%- endfor -%}
</div> <!-- column -->
{% endfor -%}
</div> <!-- foyer-pub-list -->
</div> <!-- foyer -->
