<!DOCTYPE html>
<html class="main-page">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Cloudera Product Documentation"/>
    <meta name="keywords"/>
    <meta name="lang" content="en"/>

    <!-- Favicons -->
    <link rel="shortcut icon" href="http://www.cloudera.com/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="http://www.cloudera.com//apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/favicon-16x16.png" sizes="16x16"/>

    <!-- Windows Tiles -->
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- Add akzidenz-grotesk-next-extend Typekit Font -->
    <link rel="stylesheet" href="https://use.typekit.net/qkd3ogh.css"/>

    <!-- Base Original CSS -->

    <!-- CSS we know we need -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/common/css/home.css" type="text/css">

    <title>Cloudera Product Documentation</title>
</head>
<body>
    <header>
        <!-- Inject MyCloudera Header -->
        <div id="micro_header" class="header-loading">
            <style>
                .header-loading {
                    height: 136px;
                }
            </style>
        </div>
    </header>

    {{ content }}

    <footer>
        <!-- Inject MyCloudera Footer -->
        <div id="micro_footer"></div>
    </footer>

    {% include lucene_overlay_cloudera.html -%}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <!--  Tooltips and so on... I don't think we're using this? -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/common/js/home.js"></script>

</body>
</html>
