<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cloudera Data Platform (CDP):  Overview</title>
    <meta name="description" content="Topic description.">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" > <!-- TODO.. can we move this to CSS? Use a minimized version? -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/common/themes/pre-hdp-3.1/css/jquery.treeview.css">
    <link rel="stylesheet" href="/common/css/newux.css"> 
  </head>
  <body> 
    <nav class="product-drawer">
      <div class="logo">
        <a href="/"><img src="//www.cloudera.com/apps/settings/wcm/designs/www/clientlibs/css/assets/icons/favicon/apple-touch-icon-152x152.png" ></a>
      </div> <!-- TODO... SVG? or Make this image responsive --> 
      <ul class="products">
        <li class='cat'>Data Platforms</li>
        <li><img src="/common/img/mini_icons/icon-ambari.png"><span class="text">Ambari</span></li>
        <li><img src="/common/img/mini_icons/icon-hdp.png"><span class="text">Data Platform</span></li>
        <li class="active"><img src="/common/img/mini_icons/icon-hdf.png"><span class="text">Dataflow</span></li>
        <li><img src="/common/img/mini_icons/icon-smartsense.png"><span class="text">Smartsense</span></li>
        <li><img src="/common/img/mini_icons/icon-cybersecurity.png"><span class="text">Cybersecurity</li>
        <li class='cat'>Data Services</li>
        <li><img src="/common/img/mini_icons/icon-dataplane.png"><span class="text">DataPlane Core</span></li>
        <li><img src="/common/img/mini_icons/icon-studio.png"><span class="text">Data Analytics Studio</span></li>
        <li><img src="/common/img/mini_icons/icon-datasteward.png"><span class="text">Data Steward Studio</span></li>
        <li class='cat'>Cloud Services</li>
        <li><img src="/common/img/mini_icons/icon-cloudbreak.png"><span class="text">Cloudbreak</span></li>
        <li><img src="/common/img/mini_icons/icon-hdcloud.png"><span class="text">HDCloud for AWS</span></li>
     </ul>
      <div class="open-close">&raquo;</div>
    </nav>
    <header class="chead">
        <div class="breadcrumbs">
          <span class="bread-home"><a href="/"><i class="fas fa-home"></i><span class="text-home">Cloudera Docs</span></a></span>
          <span class="bread-product"><a href="/">HDF</a></span> 
          <span class="bread-version">3.0.3 <i class="fas fa-angle-down"></i></span> 
          <span class="bread-category">Concepts</span>
        </div> 
        <div class="search"><i class="search-close fas fa-times"></i><input type="text" placeholder="Search Documentation"><i class="fas fa-search"></i></div>
        <div class="launch-search"><i class="fas fa-search"></i></div>
        <div class="launch-pubnav"><i class="fas fa-bars"></i></div>
    </header>
    <main class="cmain"> 
      <article class="topic">
        <div class="content">
            <div class="inner-breadcrumbs">
                <span class="inner-bread-category">Concepts</span> 
            </div>
            
            {{ content }}
            <div class="up"></div>
            
        </div>
        <div class="short-prev"><a href="">&laquo;</a></div>
        <div class="short-next"><a href="">&raquo;</a></div>
        <div class="prev"><a href="">&laquo; Getting Started with Apache Nifi</a></div>
        <div class="next">Getting Started: <a href="">Terminology Used in This Guide &raquo;</a></div>
      </article>

      <aside class="pubnav-container">
          <div class="product-title">
            <img class="product-logo" src="/common/img/smaller_icons/icon-hdf.png"> 
            <span class="product-name">Hortonworks Dataflow</span>
          </div>
          <nav class="pubnav">
            <ul id="tree"></ul>
            <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
          
          </nav> <!-- Next, we'll replace this with one built with navigation.json --> 
      </aside>
    </main>
      
    <footer></footer>

    <!-- We should bundle these --> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="application/javascript" src="/common/themes/pre-hdp-3.1/js/jquery.treeview.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script src="/common/js/navigation.js"></script>
    <script src="/common/js/newux.js"></script>
  </body>
</html>
