#content {
  /*!
   * This file is part of the DITA Open Toolkit project.
   *
   * Copyright 2004, 2005 IBM Corporation
   *
   * See the accompanying LICENSE file for applicable license.
   */
  .codeblock {
    font-family: monospace;
  }

  .codeph {
    font-family: monospace;
  }

  .kwd {
    font-weight: bold;
  }

  .parmname {
    font-weight: bold;
  }

  .var {
    font-style: italic;
  }

  .filepath {
    font-family: monospace;
  }

  div.tasklabel {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2.tasklabel,
  h3.tasklabel,
  h4.tasklabel,
  h5.tasklabel,
  h6.tasklabel {
    font-size: 100%;
  }

  .screen {
    padding: 5px 5px 5px 5px;
    border: outset;
    background-color: #CCCCCC;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: pre;
  }

  .wintitle {
    font-weight: bold;
  }

  .numcharref {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .parameterentity {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .textentity {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .xmlatt {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .xmlelrement {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .xmlnsname {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .xmlpi {
    color: #663399;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  .frame-top {
    border-top: solid 1px #777777;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .frame-bottom {
    border-top: 0;
    border-right: 0;
    border-bottom: solid 1px #777777;
    border-left: 0;
  }

  .frame-topbot {
    border-top: solid 1px #777777;
    border-right: 0;
    border-bottom: solid 1px #777777;
    border-left: 0;
  }

  .frame-all {
    border: solid 1px;
  }

  .frame-sides {
    border-top: 0;
    border-left: solid 1px #777777;
    border-right: solid 1px #777777;
    border-bottom: 0;
  }

  .frame-none {
    border: 0;
  }

  .scale-50 {
    font-size: 50%;
  }

  .scale-60 {
    font-size: 60%;
  }

  .scale-70 {
    font-size: 70%;
  }

  .scale-80 {
    font-size: 80%;
  }

  .scale-90 {
    font-size: 90%;
  }

  .scale-100 {
    font-size: 100%;
  }

  .scale-110 {
    font-size: 110%;
  }

  .scale-120 {
    font-size: 120%;
  }

  .scale-140 {
    font-size: 140%;
  }

  .scale-160 {
    font-size: 160%;
  }

  .scale-180 {
    font-size: 180%;
  }

  .scale-200 {
    font-size: 200%;
  }

  .expanse-page, .expanse-spread {
    width: 100%;
  }

  .fig {
    /* Default of italics to set apart figure captions */
    /* Use @frame to create frames on figures */
  }

  .figcap {
    font-style: italic;
  }

  .figdesc {
    font-style: normal;
  }

  .figborder {
    border-color: silver;
    border-style: solid;
    border-width: 2px;
    margin-top: 1rem;
    padding-left: 3px;
    padding-right: 3px;
  }

  .figsides {
    border-color: silver;
    border-left: 2px solid #777777;
    border-right: 2px solid #777777;
    margin-top: 1rem;
    padding-left: 3px;
    padding-right: 3px;
  }

  .figtop {
    border-color: silver;
    border-top: 2px solid;
    margin-top: 1rem;
  }

  .figbottom {
    border-bottom: 2px solid #777777;
    border-color: silver;
  }

  .figtopbot {
    border-bottom: 2px solid #777777;
    border-color: silver;
    border-top: 2px solid #777777;
    margin-top: 1rem;
  }

  /* Align images based on @align on topic/image */
  div.imageleft {
    text-align: left;
  }

  div.imagecenter {
    text-align: center;
  }

  div.imageright {
    text-align: right;
  }

  div.imagejustify {
    text-align: justify;
  }

  /* Set heading sizes, getting smaller for deeper nesting */
  .topictitle1 {
    font-size: 1.34rem;
    margin-bottom: 0.1rem;
    margin-top: 0;
  }

  .topictitle2 {
    font-size: 1.17rem;
    margin-bottom: 0.45rem;
    margin-top: 1pc;
  }

  .topictitle3 {
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 0.17rem;
    margin-top: 1pc;
  }

  .topictitle4 {
    font-size: 1.17rem;
    font-weight: bold;
    margin-top: 0.83rem;
  }

  .topictitle5 {
    font-size: 1.17rem;
    font-weight: bold;
  }

  .topictitle6 {
    font-size: 1.17rem;
    font-style: italic;
  }

  .sectiontitle {
    color: #000;
    font-size: 1.17rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .section {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .example {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  /* Most link groups are created with <div>. Ensure they have space before and after. */
  .ullinks {
    list-style-type: none;
  }

  .ulchildlink {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .olchildlink {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .linklist {
    margin-bottom: 1rem;
  }

  .linklistwithchild {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  .sublinklist {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }

  .relconcepts {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .reltasks {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .relref {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .relinfo {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .breadcrumb {
    font-size: smaller;
    margin-bottom: 1rem;
  }

  /* Simple lists do not get a bullet */
  ul.simple {
    list-style-type: none;
  }

  /* Default of bold for definition list terms */
  .dlterm {
    font-weight: bold;
  }

  /* Use CSS to expand lists with @compact="no" */
  .dltermexpand {
    font-weight: bold;
    margin-top: 1rem;
  }

  *[compact="yes"] > li {
    margin-top: 0;
  }

  *[compact="no"] > li {
    margin-top: 0.53rem;
  }

  .liexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .sliexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .dlexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .ddexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .stepexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .substepexpand {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  dt.prereq {
    margin-left: 20px;
  }

  /* All note formats have the same default presentation */
  .note {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .note .notetitle, .note .notelisttitle,
  .note .note__title {
    font-weight: bold;
  }

  /* Various basic phrase styles */
  .bold {
    font-weight: bold;
  }

  .bolditalic {
    font-style: italic;
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underlined {
    text-decoration: underline;
  }

  .uicontrol {
    font-weight: bold;
  }

  .defkwd {
    font-weight: bold;
    text-decoration: underline;
  }

  .shortcut {
    text-decoration: underline;
  }

  .menucascade > abbr {
    text-decoration: none;
  }

  table {
    border-collapse: collapse;
  }

  table .desc {
    display: block;
    font-style: italic;
  }

  .cellrowborder {
    border-bottom: solid 1px #777777;
    border-left: 0;
    border-right: solid 1px #777777;
    border-top: 0;
  }

  .row-nocellborder {
    border-bottom: solid 1px #777777;
    border-left: 0;
    border-top: 0;
  }

  .cell-norowborder {
    border-left: 0;
    border-right: solid 1px #777777;
    border-top: 0;
  }

  .nocellnorowborder {
    border: 0;
  }

  .firstcol {
    font-weight: bold;
  }

  .table--pgwide-1 {
    width: 100%;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }

  .align-justify {
    text-align: justify;
  }

  .align-char {
    text-align: char;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .colsep-0 {
    border-right: 0;
  }

  .colsep-1 {
    border-right: 1px solid #777777;
  }

  .rowsep-0 {
    border-bottom: 0;
  }

  .rowsep-1 {
    border-bottom: 1px solid #777777;
  }

  .stentry {
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
  }

  .stentry:last-child {
    border-right: 0;
  }

  .strow:last-child .stentry {
    border-bottom: 0;
  }

  /* Add space for top level topics */
  .nested0 {
    margin-top: 1rem;
  }

  /* div with class=p is used for paragraphs that contain blocks, to keep the XHTML valid */
  .p {
    margin-top: 1rem;
  }
  
  /* Task topic labels */
  .steps::before {
    content: "Steps";
    font-weight: bold;
    margin-left: -40px;
    }

    .context::before {
    content: "About this task";
    display: block;
    font-weight: bold;
    }

    .context p {
    margin-top: 0em;
    }

    .result::before {
    content: "Result";
    display: block;
    font-weight: bold;
    }

    .result p {
    margin-top: 0em;
    }


    .postreq::before {
    content: "After you finish";
    display: block;
    font-weight: bold;
    }

    .postreq p {
    margin-top: 0em;
    }


    .prereq::before {
    content: "Before you begin";
    display: block;
    font-weight: bold;
    }

    .prereq p {
    margin-top: 0em;
    }

    .example::before {
    content: "Example";
    display: block;
    font-weight: bold;
    }
}
