/*! * Parts of this file are from the DITA Open Toolkit project. * Copyright 2004, 2005 IBM Corporation * License:Apache License, Version 2.0 */
#content, .content 				{
  .codeblock 					{ font-family:monospace; white-space:pre-wrap;  }

  .codeph 						{ font-family:monospace;  }
  .kwd 							{ font-weight:400;  }
  .parmname 					{ font-weight:400;  }
  .var 							{ font-style:italic;  }
  .filepath 					{ font-family:monospace;  }
  div.tasklabel 				{ margin-top:1rem; margin-bottom:1rem;  }
  h2.tasklabel, h3.tasklabel,
  h4.tasklabel, h5.tasklabel,
  h6.tasklabel 					{ font-size:100%;  }
  .screen 						{ padding:5px 5px 5px 5px; border:outset; background-color:#CCCCCC; margin-top:2px; margin-bottom:2px; white-space:pre;  }
  .wintitle 					{ font-weight:400;  }
  .numcharref 					{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .parameterentity 				{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .textentity 					{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .xmlatt 						{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .xmlelrement 					{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .xmlnsname 					{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }
  .xmlpi 						{ color:#663399; font-family:Menlo, Monaco, Consolas, "Courier New", monospace;  }

  .frame-top 					{ border-top:solid 1px #777777; border-right:0; border-bottom:0; border-left:0;  }
  .frame-bottom 				{ border-top:0; border-right:0; border-bottom:solid 1px #777777; border-left:0;  }
  .frame-topbot 				{ border-top:solid 1px #777777; border-right:0; border-bottom:solid 1px #777777; border-left:0;  }
  .frame-all 					{ border:solid 1px;  }
  .frame-sides 					{ border-top:0; border-left:solid 1px #777777; border-right:solid 1px #777777; border-bottom:0;  }
  .frame-none 					{ border:0;  }

  .scale-50 					{ font-size:50%;  }
  .scale-60 					{ font-size:60%;  }
  .scale-70 					{ font-size:70%;  }
  .scale-80 					{ font-size:80%;  }
  .scale-90 					{ font-size:90%;  }
  .scale-100 					{ font-size:100%;  }
  .scale-110 					{ font-size:110%;  }
  .scale-120 					{ font-size:120%;  }
  .scale-140 					{ font-size:140%;  }
  .scale-160 					{ font-size:160%;  }
  .scale-180 					{ font-size:180%;  }
  .scale-200 					{ font-size:200%;  }

  .expanse-page,
  .expanse-spread 				{ width:100%;  }

  .fig 							{ } // Default of italics to set apart figure captions // Use @frame to create frames on figures  }
  .figcap 					    { font-style:italic;  }
  .figdesc 					    { font-style:normal;  }
  .figborder 					{ border-color:silver; border-style:solid; border-width:2px; margin-top:1rem; padding-left:3px; padding-right:3px;  }
  .figsides 					{ border-color:silver; border-left:2px solid #777777; border-right:2px solid #777777; margin-top:1rem; padding-left:3px; padding-right:3px;  }
  .figtop 					    { border-color:silver; border-top:2px solid; margin-top:1rem;  }
  .figbottom 					{ border-bottom:2px solid #777777; border-color:silver;  }
  .figtopbot 					{ border-bottom:2px solid #777777; border-color:silver; border-top:2px solid #777777; margin-top:1rem;  }

  // Align images based on @align on topic/image
  div.imageleft 				{ text-align:left;  }
  div.imagecenter 			    { text-align:center;  }
  div.imageright 				{ text-align:right;  }
  div.imagejustify 			    { text-align:justify;  }

  .topictitle2 				    { @extend h2;  }
  .topictitle3 				    { @extend h3;  }
  .topictitle4 				    { @extend h4;  }
  .topictitle5 				    { font-weight:bold;  }
  .topictitle6 				    { font-style:italic;  }
  .sectiontitle 				{ color:#000; font-size:1.17rem; font-weight:400; margin-bottom:0; margin-top:1rem;  }
  .section 					    { margin-bottom:1rem; margin-top:1rem;  }
  .example 					    { margin-bottom:1rem; margin-top:1rem;  }

  .ullinks 						{ list-style-type:none; padding-left:0;  }
  .ulchildlink 					{ margin-bottom:1rem; margin-top:1rem;  }
  .olchildlink 					{ margin-bottom:1rem; margin-top:1rem;  }
  .linklist 					{ margin-bottom:1rem;  }
  .linklistwithchild 			{ margin-bottom:1rem; margin-left:1.5rem;  }
  .sublinklist 					{ margin-bottom:1rem; margin-left:1.5rem;  }
  .relconcepts 					{ margin-bottom:1rem; margin-top:1rem;  }
  .reltasks 					{ margin-bottom:1rem; margin-top:1rem;  }
  .relref 						{ margin-bottom:1rem; margin-top:1rem;  }
  .relinfo 						{ margin-bottom:1rem; margin-top:1rem;  }
  .breadcrumb 					{ font-size:smaller; margin-bottom:1rem;  }
  .parentlink 					{ margin-top:20px;  } // Add a bit of space between content and the parent link.


  ul.simple 					{ list-style-type:none;  } // Simple lists do not get a bullet
  .dlterm 						{ font-weight:400;  } // Default of bold for definition list terms
  .dltermexpand 				{ font-weight:400; margin-top:1rem;  } // Use CSS to expand lists with @compact="no"

  *[compact="yes"] > li 		{ margin-top:0;  }
  *[compact="no"] > li 			{ margin-top:0.53rem;  }
  .liexpand 					{ margin-bottom:1rem; margin-top:1rem;  }
  .sliexpand 					{ margin-bottom:1rem; margin-top:1rem;  }
  .dlexpand 					{ margin-bottom:1rem; margin-top:1rem;  }
  .ddexpand 					{ margin-bottom:1rem; margin-top:1rem;  }
  .stepexpand 					{ margin-bottom:1rem; margin-top:1rem;  }
  .substepexpand 				{ margin-bottom:1rem; margin-top:1rem;  }
  dt.prereq 					{ margin-left:20px;  }

  // All note formats have the same default presentation
  .note 						{ margin-bottom:1rem; margin-top:1rem;  }
  .note .notetitle,
  .note .notelisttitle,
  .note .note__title 			{ font-weight:400;  }

  // Various basic phrase styles
  .bold 						{ font-weight:400;  }
  .bolditalic 					{ font-style:italic; font-weight:400;  }
  .italic 						{ font-style:italic;  }
  .underlined 					{ text-decoration:underline;  }
  .uicontrol 					{ font-weight:400;  }
  .defkwd 						{ font-weight:400; text-decoration:underline;  }
  .shortcut 					{ text-decoration:underline;  }
  .menucascade > abbr 			{ text-decoration:none;  }



  table.table 					    { border-color:#fff; table-layout:fixed; width:100%; border-collapse:collapse; background-color:#eee; margin:1rem 0;
      .desc 					    { display:block; font-style:italic;  }
      thead tr, th 				    { border-color:#fff; background-color:#5f7c82; font-weight:500; color:#fff; }
      th, td 						{ padding:5px; overflow-wrap:break-word; font-size:90%; }
      tbody tr:nth-child(odd) 	    { background-color:#eee;  }
      tbody tr:nth-child(even)	    { background-color:#ddd;  }
      caption 					    { margin:0.5rem 0 0.25rem 0;
        .table--title-label         { font-weight:bold; color:#666;  }
      }

      pre.codeblock 				{ padding:8px; margin:10px 0; background-color:#fafafa; border:1px solid #dcdcdc; line-height:20px; border-radius:2px; width:90%; overflow-x:auto;  }

      samp 						    { background-color:#fafafa; border:1px solid #dcdcdc; border-radius:2px; padding:1px 2px; color:#444;  }

      .cellrowborder 				{ border-bottom:solid 1px #fff; border-left:0; border-right:solid 1px #fff; border-top:0;  }
      .row-nocellborder 			{ border-bottom:solid 1px #fff; border-left:0; border-top:0;  }
      .cell-norowborder 			{ border-left:0; border-right:solid 1px #fff; border-top:0;  }
      .nocellnorowborder 			{ border:0;  }
      .firstcol 					{ font-weight:400;  }
      .table--pgwide-1 			    { width:100%;  }

      .colsep-0 					{ border-right:0;  }
      .colsep-1 					{ border-right:1px solid #fff;  }
      .rowsep-0 					{ border-bottom:0;  }
      .rowsep-1 					{ border-bottom:1px solid #fff;  }

      .stentry 					    { border-right:1px solid #fff; border-bottom:1px solid #fff;  }
      .stentry:last-child 		    { border-right:0;  }
      .strow:last-child .stentry 	{ border-bottom:0;  }

      .align-left 				    { text-align:left;  }
      .align-right 				    { text-align:right;  }
      .align-center 				{ text-align:center;  }
      .align-justify 				{ text-align:justify;  }

      .valign-top 				    { vertical-align:top;  }
      .valign-bottom 				{ vertical-align:bottom;  }
      .valign-middle 				{ vertical-align:middle;  }
  }





  .nested0 						    { margin-top:1rem;  } // Add space for top level topics
  .p 							    { margin-top:1rem;  } // div with class=p is used for paragraphs that contain blocks, // to keep the XHTML valid

  /* Task topic labels */
  .steps::before 				    { content:"Steps"; font-weight:400; margin-left:-20px;  }
  .context::before 				    { content:"About this task"; display:block; font-weight:400;  }
  .context p 					    { margin-top:0em;  }
  .result::before 				    { content:"Result"; display:block; font-weight:400;  }
  .result p 					    { margin-top:0em;  }
  .postreq::before 				    { content:"After you finish"; display:block; font-weight:400;  }
  .postreq p 					    { margin-top:0em;  }
  .prereq::before 				    { content:"Before you begin"; display:block; font-weight:400;  }
  .prereq p 					    { margin-top:0em;  }
  .example::before 				    { content:"Example"; display:block; font-weight:400;  }

  pre 							    { white-space:pre-wrap; color:#444; background-color:#fafafa; border:1px solid #dcdcdc; border-radius:2px; margin:10px 0; padding:8px; overflow-x:auto; font-size:13px;  }

  .note 								{ margin-top:1em; margin-bottom:1em; background-color:#eef4f7; padding:10px 20px; border-radius:2px;  }
  .admon-title-text 					{ color:#555; font-weight:bold; text-transform:capitalize; margin-bottom:10px; }
  .note.note .admon-title-text:before   { font-family:'Font Awesome 5 Free'; color:#555; content:"\f044"; display:inline-block; padding-right:3px; vertical-align:middle;  }
  .note.warning span.title:before,
  #beta_message p.lines:before 		    { font-family:'Font Awesome 5 Free'; color:#555; content:"\f071"; display:inline-block; padding-right:3px; vertical-align:middle  }
  .note.tip 							{ background-color:#f1f6d3; border:none;  }
  .note.important .admon-title-text:before { font-family:'Font Awesome 5 Free'; color:#555; content:"\f06a"; display:inline-block; padding-right:3px; vertical-align:middle;  }
  .note.important 					    { background-color:#fefaee; border:none;  }

  aside, blockquote, dl, h1, h2, h3,
  h4, h5, h6, ol, p, ul, .p 			{ max-width:52rem;  }

}
