.error-page {
  div.logo a { color: black; }

  main {
    margin: 2ex 2em;

    article {
      max-width: 45em;
      margin: 0 14rem;

      h1 { color: #305868; }

      .search {
        width: 500px;
        margin: 20px 0;
        position: relative;

        input {
          font-size: 110%;
          padding: 10px;
          width: 100%;
        }

        i.fa {
          position: absolute;
          right: 0;
          top: 12px;
          color: #00a3af;
          font-size: 130%;
        }

        .fa-search::before { content: "\f002"; }
      }

      select {
        color: #666;
        padding: .33em .5em;
        border: {
          color: #ccc;
          radius: .2em;
          style: solid;
          width: 1px;
        }
      }
    }
  }

  footer { margin-top: 36ex; }
}
