#content, .content {

  // http://docs-stage.cloudera.com/data-hub/cloud/recipes/topics/mc-recipe-parameters.html
  table.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #eee;
    margin: 1rem 0;

    thead tr, th {
      background-color: #999;
    }

    th, td {
      padding: 5px;
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    tbody tr:nth-child(even) {
      background-color: #ddd;
    }

    caption {
      margin: 0.5rem 0 0.25rem 0;

      .table--title-label {
        font-weight: bold;
        color: #666;
      }
      .title {}
    }
  }

  // http://docs-stage.cloudera.com/runtime/7.0.0/spark-overview/topics/spark-overview.html
  .note > table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #eee;
    margin: 1rem 0;

    th, td {
      padding: 5px;
    }
  }

  pre {
    color: #444;
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin: 10px 0;
    padding: 8px;
    overflow-x: auto;
    font-size: .9rem;
  }

}
