#content, .content {
/* Style for tabbed windows and toggle properties for hidden content */

.tab-win ul {
    width: 100%;
    height:30px; 
   border-bottom: solid 1px #CCC;
   padding-right: 2px;
   padding-inline-start: 0px;
   margin-bottom: 0px;
   overflow:hidden;
   border-bottom-color: transparent;
}

.tab-win ul li {
    float:left; 
    list-style:none; 
    border:1px solid #ccc;
    background-color: #fff;
    margin-right:5px;
    margin-bottom:0px;
    outline:none;
    text-align: left;
}

.tab-win ul li a {
    color: #333;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px; 
    display:block; 
    text-decoration:none;
    outline:none;
}

.tab-win ul li.active {
    margin-bottom: -1px;
    padding-bottom: 6px;
    background-color:#ccc;
}

.tab-win li:hover {
    background-color: #ddd;
}

.tabcontents {
    clear: both;
    border: 1px solid #aaa;
    height: auto;
    overflow: hidden;
}

.tabcontents > div {
    height: auto;
    padding: 10px;
}
}
