/* Search styling. 
 * TODO! - This can go into scss format.
 * TODO! - We should update these to pull colors from settings 
 */

#searchDiv {
  font-size: 80%;
}
#searchDiv .searchText {
    border: #BFCEE9 solid 1pt;
    width: 11em;
}
#searchDiv input {
    margin-bottom: 5px;
    margin-top: 2px;
}
#searchDiv .searchButton {
    margin-left: 3px;
    background: #EBEFF8;
    color: #0050A0;
    border: #BFCEE9 solid 1pt;
    font-weight: bold;
    font-size: 10pt;
}
#searchDiv a {
    text-decoration: underline;
}
#searchDiv .searchHighlight {
    display: none;
}
